@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #1f1f1f;
    --white: #f1f1f1;
    --blue: #2d64e6
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    user-select: none;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: var(--black);
    color: var(--white);
}

.wrapper {
    min-height: 100vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7.5rem;
    background-color: var(--black);
    animation: fadeIn 0.75s linear;
}

.kunai {
    position: relative;
    width: 20vw;
    transition: all 0.25s ease;
}

.kunai:hover {
    filter: brightness(0%) invert(100%);
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
}

.content h3 {
    font-size: 3rem;
    font-weight: 500;
}

span {
    color: var(--blue);
    font-weight: 900;
    transition: 0.25s ease;
}

span:hover {
    color: var(--white);
}

.socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    margin: 3rem 2rem 3rem 0;
    border: 0.2rem solid var(--blue);
    border-radius: 50%;
    color: var(--white);
    background: transparent;
    font-size: 3rem;
    transition: 0.25s ease;
}

.socials a:hover {
    color: var(--blue);
    background: var(--white);
    box-shadow: 0 0 25px var(--blue);
    transform: scale(1.25);
}

.follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--blue);
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .wrapper {
        gap: 4rem;
    }
}

@media (max-width: 995px) {
    .wrapper {
        flex-direction: column;
        margin: 2.5rem 2rem;
    }

    .kunai {
        width: 40vw;
    }

    .content h1 {
        font-size: 4rem;
    }

    .content h3 {
        font-size: 2rem;
    }
}