:root {
    --black: #1f1f1f;
    --white: #f1f1f1;
    --smoke: #c9d0d2;
    --blue: #4672fe;
}

@font-face {
    font-family: "Persian";
    src: url("./assets/IRANYekan Web Black.ttf") format("truetype")
}

body {
    margin: 0;
    font-family: "Persian";
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: var(--black);
}

.box {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    height: 100%;
    background: var(--black);
}

@keyframes backgroundShadowAnimate {
    50% {
        box-shadow: inset 0px 0px 25px 0px var(--blue);
    }
}

.bar {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    column-gap: 50px;
    flex-basis: 100%;
    max-width: 90%;
    height: 100px;
    animation: fadeInDown 1s ease-in-out;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    animation: rotateAnimate 1s linear infinite paused;
}

.frame:hover {
    animation-play-state: running;
}

@keyframes rotateAnimate {
    to {
        transform: rotate(1turn);;
    }
}

.kunai {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(99%) sepia(3%) saturate(589%) hue-rotate(250deg) brightness(116%) contrast(89%);
    transition: all 0.5s ease-in-out
}

.content {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 100%;
    max-width: 90%;
    color: var(--white);
    animation: fadeInUp 1s ease-in-out;
}

.follow {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: var(--blue);
    transition: all 0.1s linear;
}

.title, .bi {
    color: var(--white);
    font-size: 1.75rem;
    transition: all 0.25s linear;
}

.bi {
    padding-right: 10px;
}

.title:hover, .bi:hover {
    color: var(--blue);
}
